@import 'shared';

.root {
  @include z-index(nav);
  @include flex-center-vert;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  margin-top: px(20);
  padding: $side-spacing;
  height: $navbar-height-mobile;

  @include media-tablet-large {
    height: $navbar-height-desktop;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  .logoContainer {
    @include box(px(32));

    .logo {
      width: 100%;
      height: auto;
      image-rendering: pixelated;
    }

    @include media-tablet-large {
      @include box(px(64));
    }
  }

  .button {
    @include flex-center-vert;
    @include typography-cta;
    gap: px(15);
    color: $gray;

    .iconContainer {
      @include box(px(34));


      @include media-tablet-large {
        @include box(px(51));
      }
    }
  }
}
