@import 'shared';

.root {
  @include z-index(nav);
  @include flex-center-vert;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  margin-top: px(20);
  padding: 0 px(20);
  height: $navbar-height-mobile;

  @include media-tablet-large {
    height: $navbar-height-desktop;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  .logoContainer {
    @include box(px(34));

    @include media-tablet-large {
      @include box(px(51));
    }
  }

  .button {
    @include flex-center-vert;
    @include typography-cta;
    gap: px(15);
    color: $gray;

    .iconContainer {
      @include box(px(34));

      @include media-tablet-large {
        @include box(px(51));
      }
    }
  }
}

// @TODO: we may need to move this to its own component

.modal {
  .container {
    @include flex-center;
    @include box(px(300), px(180));
    position: absolute;
    flex-direction: column;
    background-color: $sour-cream;
    border-radius: px(40);
    overflow: hidden;

    .close {
      @include box(px(12));
      position: absolute;
      top: px(20);
      right: px(30);
    }

    .buttonContainer {
      @include flex-center;
      gap: px(20);
      margin-top: px(20);
    }

    .goBack,
    .skip {
      @include font-size(12, 14);
      @include font-family(Montserrat, 700);
      display: inline-flex;
      padding: px(8) px(24);
      border-radius: px(26);
      border-bottom-width: thick;
      color: $white;
    }

    .goBack {
      background-color: $red;
      border: 1px solid $dark-blue;
    }

    .skip {
      background-color: $dark-blue;
      border: 1px solid $white;
    }
  }
}
