@import 'shared';

.root {
  @include z-index(nav);
  @include flex-center-vert;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  margin-top: px(20);
  padding: 0 px(20);
  height: $navbar-height-mobile;

  @include media-tablet-large {
    height: $navbar-height-desktop;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;

  .logoContainer {
    @include box(px(34));

    @include media-tablet-large {
      @include box(px(51));
    }
  }

  .button {
    @include flex-center-vert;
    @include typography-cta;
    gap: px(15);
    color: $gray;

    .iconContainer {
      @include box(px(34));

      @include media-tablet-large {
        @include box(px(51));
      }
    }
  }
}

// @TODO: we may need to move this to its own component

.modal {
  .container {
    @include flex-center;
    width: px(300);
    min-height: px(120);
    position: absolute;
    flex-direction: column;
    background-color: $sour-cream;
    border-radius: px(20);
    padding: px(20);
    overflow: hidden;

    .description {
      @include typography-montserrat-body;
    }

    .close {
      position: absolute;
      top: px(20);
      right: px(30);
    }

    .buttonContainer {
      @include flex-center;
      gap: px(10);
      margin-top: px(20);
    }

    .goBack,
    .stay {
      white-space: nowrap;
      border-bottom-width: 1px;
    }
  }
}
