@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  background-color: $black;
  overflow: hidden;

  .content {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
  }

  .playButton {
    @include z-index(pages);
    position: fixed;
    left: 50%;
    bottom: px(100);
    transform: translateX(-50%);

    @include media-tablet-large {
      bottom: px(150);
    }
  }

  .soundSwitch {
    @include z-index(sound);
    position: absolute;
    right: px(20);
    bottom: px(20);
  }
}
