@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  background-color: $black;

  .content {
    position: relative;
    width: 100%;
    flex: 1 1 auto;
  }

  .playButton {
    @include z-index(pages);
    position: absolute;
    left: 50%;
    bottom: px(210);
    transform: translateX(-50%);
  }

  .soundSwitch {
    @include z-index(pages);
    position: absolute;
    right: px(20);
    bottom: px(20);
  }
}
