@import 'shared';

.root {
  @include z-index(nav);
  @include flex-center-vert;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: px(10);
  padding-left: px(10);

  @include media-tablet {
    padding-bottom: px(20);
    padding-left: px(20);
  }

  .skipToContent {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    pointer-events: none;
    opacity: 0.0001;
  }

  .skipToContent:focus,
  .skipToContent:active {
    color: $white;
    background-color: $black;
    opacity: 1;
  }

  > .wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;

    .fullscreenWrapper {
      @include box(px(34));
      margin-right: px(8);

      @include media-tablet-large {
        @include box(px(60));
        margin-right: px(20);
      }
    }

    ul {
      @include flex-center-vert;

      &.routes {
        @include transform-center(absolute);
        top: px(20);

        @include media-tablet-large {
          top: px(30);
        }
      }

      li {
        padding: 0 px(5);

        @include media-tablet-large {
          padding: 0 px(5);
        }

        .link {
          &.hasBorder {
            @include font-family(b, 400);
            @include typography-cta;
            position: relative;
            margin-bottom: px(10);
            color: $sunrise;
            border: px(10) solid transparent;
            border-image: url('~@/assets/images/button-borders.png') 10 10 stretch;
            white-space: nowrap;

            @include media-tablet-large {
              padding: px(5);
              padding-bottom: px(2);
            }

            &:hover,
            &.isActive {
              color: $white;
            }

            &:hover {
              top: px(8);
            }

            svg {
              @include box(100%);
              @include transform-center(absolute);
            }
          }
        }
      }

      &.ctas {
        @include typography-cta;
        justify-content: flex-start;
        color: $gray;

        > li {
          &:last-child {
            position: absolute;
            right: 12svh;
          }

          @include media-tablet {
            &:last-child {
              right: 10svh;
            }
          }

          @include media-tablet-large {
            &:last-child {
              right: 12svh;
            }
          }

          @include media-desktop {
            &:last-child {
              position: relative;
              right: unset;
            }
          }
        }
      }
    }
  }
}
