@import 'shared';

.root {
  @include z-index(nav);
  @include flex-center-vert;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: px(40) px(20);
  height: $navbar-height-mobile;

  @include media-tablet {
    height: $navbar-height-desktop;
  }

  .skipToContent {
    position: absolute;
    top: 0;
    left: 0;
    height: fit-content;
    pointer-events: none;
    opacity: 0.0001;
  }

  .skipToContent:focus,
  .skipToContent:active {
    color: $white;
    background-color: $black;
    opacity: 1;
  }

  > .wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;

    .fullscreenWrapper {
      @include box(px(60));
      margin-right: px(20);
    }

    > ul {
      @include flex-center-vert;
      flex-grow: 1;

      &.routes {
        justify-content: flex-start;

        .mainLogo {
          width: auto;
          height: px(35);
        }
      }

      &.ctas {
        justify-content: flex-start;
        @include font-size(22);
        color: $gray;
      }

      > li {
        padding: 0 px(10);

        .link {
          &.hasBorder {
            @include font-family(b, 400);
            @include font-size(22);
            position: relative;
            padding: px(5);
            color: $sunrise;
            border: px(10) solid transparent;
            border-image: url('~@/assets/images/button-borders.png') 10 10 stretch;

            &:hover,
            &.isActive {
              color: $white;
            }

            svg {
              @include box(100%);
              @include transform-center(absolute);
            }
          }
        }
      }
    }
  }
}
