@import 'shared';

.root {
  @include position-0(absolute);
  @include box(100%);
  @include flex-center;
  @include z-index(modal);
  background-color: rgba($black, 0.5);
}

.close {
  @include box(px(12));
  position: absolute;
  top: px(20);
  right: px(30);
}
