@use 'sass:color';

@import 'shared';

$cookie-banner-bg-color: $sour-cream;
$cookie-banner-text-color: $black;
$cookie-banner-overlay-bg-color: color.adjust($cookie-banner-bg-color, $lightness: 5%);
$cookie-banner-padding: px(20);

.root {
  @include z-index(notification);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: fixed;
  bottom: px(20);
  left: px(20);
  padding: $cookie-banner-padding;
  max-width: calc(100% - #{px(40)});
  color: $cookie-banner-text-color;
  background-color: $cookie-banner-bg-color;
  border-radius: px(20);
  border: 1px solid $dark-blue;

  * {
    @include typography-montserrat-body(700);
  }

  > .description {
    text-align: left;
    margin-bottom: px(15);
    color: $cookie-banner-text-color;

    a {
      color: currentcolor;
    }
  }

  > .cookieSettings {
    @include position-100(absolute);
    @include flex-center;
    padding: $cookie-banner-padding;
    background-color: $cookie-banner-overlay-bg-color;
    text-align: left;
    border-radius: inherit;

    .cookieSettingsClose {
      position: absolute;
      top: $cookie-banner-padding;
      right: $cookie-banner-padding;

      @include extend-click-box;
    }

    .cookieSettingsContent {
      display: flex;
      gap: px(20);
    }

    .cookieSettingsDescription {
      width: 50%;
    }

    .cookieSettingsList {
      display: flex;
      flex-direction: column;
      gap: px(5);

      li {
        display: flex;
        align-items: center;
        gap: px(10);

        input[type='checkbox'] {
          position: relative;
          width: px(20);
          height: px(20);

          @include extend-click-box;
        }

        label {
          text-transform: capitalize;
        }
      }
    }
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: px(10) px(20);
  }
}
