@import 'shared';

.root {
  @include flex-center;

  .container {
    @include flex-center-vert;
    position: absolute;
    flex-direction: column;
    background-color: $sour-cream;
    border-radius: px(20);
    padding: px(20);
    overflow: hidden;
    min-height: px(300);

    @include media-tablet-large {
      min-height: px(400);
      min-width: px(400);
    }

    .logoContainer {
      @include box(px(88), px(50));
      margin-bottom: px(30);

      .logo {
        width: 100%;
        height: auto;
        image-rendering: pixelated;
      }
    }

    .description {
      @include typography-montserrat-body;
      max-width: px(300);
      flex: 1;
    }

    strong {
      @include font-size(42, 50);
      @include font-family(Dirk, 800);
      color: $red;
    }

    .close {
      position: absolute;
      top: px(20);
      right: px(30);

      @include extend-click-box;
    }

    .buttonContainer {
      @include flex-center;
      gap: px(10);
      margin-top: px(20);
      flex: 1;
    }

    .goBack,
    .stay {
      white-space: nowrap;
    }
  }
}
