@import 'shared';

.root {
  @include position-100(absolute);
  @include flex-center(column);
  gap: px(30);
  color: $white;
  background-color: $black;
  background-image: url('~@/assets/images/noise.jpg');

  @include media-tablet {
    padding-bottom: px(40);
  }

  .image {
    width: auto;
    height: px(30);
    object-fit: cover;

    @include media-tablet {
      height: px(60);
    }

    @at-root .isLarge#{&} {
      height: px(130);
    }
  }

  .buttonContainer {
    position: relative;
  }

  .tooltip {
    position: absolute;
    visibility: visible;
    bottom: px(-60);
    left: 50%;
    padding: px(5);
    background-color: $ranch;
    color: $black;
    text-align: center;
    border-radius: px(4);
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .buttonContainer:hover .tooltip {
    opacity: 1;
  }

  .title,
  .button {
    @include typography-title;
    max-width: 80vw;
    color: $sour-cream;
  }

  .logoContainer {
    @include box(px(32), px(20));
    @include transform-center(absolute);
    top: unset;
    bottom: px(20);

    @include media-tablet {
      @include box(px(64), px(40));
      bottom: px(40);
    }
  }

  .button {
    display: inline-block;
  }
}
