@import 'shared';

.root {
  @include flex-center-vert;
  position: relative;
  width: 100%;
}

.hero {
  @include box(100%);
  @include z-index(pages);
}

.logoContainer {
  svg {
    max-height: px(378);
    margin: 0 auto;
  }
}
