@import 'shared';

.root {
  display: flex;
  position: relative;
  width: 100%;
}

.hero {
  @include box(100%);
  margin-top: px(80);
}

.logoContainer {
  @include flex-center;
  height: px(40);

  @include media-desktop {
    height: px(300);
  }

  .logo {
    @include box(100%);
    object-fit: contain;
  }
}
