@import 'shared';

.root {
  display: flex;
  position: relative;
  width: 100%;
}

.media {
  video,
  img {
    // @NOTE: Tweaking object-position to have the logo matching Figma
    object-position: top 10% left 50%;

    @include media-tablet {
      object-position: center center;
    }
  }
}
