@import 'shared';

.root {
  display: block;

  :global(.swiper-pagination) {
    @include flex-center;
    position: relative;
    margin-top: px(30);

    span {
      @include box(px(14));
      display: inline-block;
      background-color: $cilantro;
    }
  }
}

.slide {
  @include flex-center;
  flex-direction: column;

  .text {
    @include font-size(56, 47);
    @include font-family(PixGamer, 400);
    margin-top: px(45);
    color: $sour-cream;
  }
}

.imageContainer {
  min-width: px(100);

  .image {
    @include box(100%);
    object-fit: cover;
  }
}
