@import 'shared';

.root {
  display: block;

  :global(.swiper-pagination) {
    @include flex-center;
    position: relative;
    margin-top: px(20);

    @include media-tablet-large {
      margin-top: px(30);
    }

    span {
      @include box(px(14));
      display: inline-block;
      background-color: transparent;
      border: px(10) solid transparent;
      border-image: url('~@/assets/images/dot-nav-circle.png') 10 10 stretch;
      opacity: 1;
    }

    @include media-tablet {
      margin-top: px(30);
    }
  }

  :global(.swiper-pagination-bullet-active) {
    position: relative;

    &::before {
      @include position-0(absolute);
      @include box(px(10));
      @include transform-center;
      content: '';
      display: block;
      background-color: $cilantro;
    }
  }
}

.slide {
  @include flex-center;
  flex-direction: column;

  .title {
    @include font-size(16);
    @include font-family(PixeloidSans, 700);
    margin-top: px(20);
    color: $ranch;

    @include media-tablet-large {
      @include font-size(32, 40);
      margin-top: px(30);
    }
  }

  .text {
    @include typography-title;
    max-width: px(700);
    margin-top: px(15);
    color: $sour-cream;
    padding: $side-spacing;

    @include media-tablet {
      margin-top: px(22);
    }

    @include media-tablet-large {
      @include font-size(32, 40);
      max-width: px(780);
      margin-top: px(45);
    }
  }

  .imageContainer {
    min-width: px(100);

    .image {
      @include box(100%);
      object-fit: cover;
    }
  }

  &:first-of-type {
    .imageContainer {
      width: px(92);

      @include media-tablet-large {
        width: px(184);
      }
    }
  }

  &:nth-of-type(2) {
    .imageContainer {
      width: px(224);

      @include media-tablet-large {
        width: px(448);
      }
    }
  }

  &:nth-of-type(3) {
    .imageContainer {
      width: px(75);

      @include media-tablet-large {
        width: px(151);
      }
    }
  }

  &:last-of-type {
    .imageContainer {
      width: px(167);

      @include media-tablet-large {
        width: px(335);
      }
    }
  }
}
