@import 'shared';

.root {
  @include position-100(fixed);
  @include z-index(nonfunctional);
  @include flex-center;
  flex-direction: column;
  color: $white;
  background-color: $black;
  background-image: url('~@/assets/images/noise.png');
}

.logoContainer {
  @include box(px(32), px(20));
  @include transform-center(absolute);
  top: unset;
  bottom: px(20);
}

.iconContainer {
  width: px(156);
  transform: rotate(90deg);
}

.description {
  @include font-family(PixGamer, 400);
  @include font-size(28, 23);
  max-width: 80vw;
  margin-top: px(30);
  color: $sour-cream;
}
