@import 'shared';

.root {
  width: px(600);
  position: relative;
  margin: px(10) auto;
  overflow: hidden;
}

.close {
  @include box(px(21));
  position: absolute;
  top: px(40);
  right: px(40);

  @include extend-click-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: px(40);
  position: relative;
  height: auto;
  max-height: calc(100svh - #{px(20)});
  width: 100%;

  @include media-tablet {
    min-height: px(700);
  }
}

.top {
  @include flex-center;
  flex-direction: column;
  flex: 1;
  padding-top: px(40);
  padding-bottom: px(45);
  background-color: $sour-cream;

  .logoContainer {
    @include box(px(88), px(50));
    margin-bottom: px(30);

    .logo {
      width: 100%;
      height: auto;
      image-rendering: pixelated;
    }
  }

  .title,
  .description {
    color: $red;
  }

  .title {
    @include font-size(42, 50);
    @include font-family(Dirk, 800);
    margin-bottom: px(10);

    @include media-tablet {
      margin-bottom: px(15);
    }
  }

  .description {
    @include font-size(10, 12);
    @include font-family(Montserrat, 500);
    max-width: px(304);
    margin-bottom: px(10);

    @include media-tablet {
      margin-bottom: px(15);
    }

    @include media-tablet-large {
      @include font-size(14, 17);
    }
  }

  .fieldsContainer {
    @include flex-center;
    flex-direction: column;
    gap: px(5);

    @include media-tablet {
      gap: px(10);
    }

    input,
    input::placeholder {
      @include font-size(9, 13);
      @include font-family(Montserrat, 500);
      color: $night;

      @include media-tablet-large {
        @include font-size(10, 12);
      }
    }

    input {
      background-color: rgba($white, 0.7);
      padding: px(7) px(7);
      border-radius: px(5);
      border: 0.5px solid $night;
      min-width: px(157);

      @include media-tablet-large {
        padding: px(12) px(9);
      }
    }

    border-radius: 5px;

    @include media-tablet-large {
      border-radius: 8px;
    }

    input::placeholder {
      color: $gray;
    }
  }

  .forgotPassword {
    @include font-size(12, 14);
    @include font-family(Montserrat, 500);
    margin-top: px(10);
    color: $gray;
    text-decoration: underline;
  }
}

.bottom {
  @include flex-center;
  position: relative;
  height: px(87);
  width: 100%;
  padding: px(50);
  background-color: $dark-blue;

  .chillieContainer {
    @include box(px(136), px(157));
    position: absolute;
    top: px(-145);
    left: 0;
  }

  .chillie {
    @include box(100%);
    object-fit: cover;
  }

  .skipContainer {
    @include flex-center-vert;
    justify-content: space-between;
    width: 100%;

    .label,
    .skipButton {
      @include font-size(12, 14);
      @include font-family(Montserrat, 500);
      color: $white;
    }

    .skipButton {
      padding: px(8) px(24);
      border: 1px solid $white;
      border-radius: px(26);
    }
  }
}
