@import 'shared';

.root {
  display: block;
  height: 100svh;
  background-color: $sour-cream;
  overflow: scroll;
}

.titleContainer {
  @include flex-center;
  height: px(240);
  background-color: $night;

  @include media-tablet-large {
    height: px(343);
  }

  .title {
    @include font-size(80, 96);
    @include font-family(Dirk, 800);
    color: $sour-cream;
    text-align: center;
  }
}

.content {
  position: relative;
  padding: px(40) px(65);
  text-align: left;

  @include media-tablet-large {
    padding: px(180) px(200);
  }

  p {
    @include font-size(20, 24);
    @include font-family(Montserrat, 500);
    color: $black;
  }

  strong {
    @include font-size(30, 36);
    @include font-family(Montserrat, 700);
    color: $night;
  }
}
