@import 'shared';

.root {
  @include flex-center-vert;
  flex-direction: column;
  gap: px(15);

  @include media-tablet {
    gap: px(30);
  }
}

.columns {
  display: flex;
}

.list {
  display: flex;
  flex-flow: column nowrap;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: px(10);
  margin-right: px(25);

  &.current {
    justify-content: center;
    margin-right: 0;
  }

  .player {
    @include font-size(14);
    overflow: hidden;
    color: $white;

    &.isCurrentPlayer {
      color: $sunrise;
    }

    @include media-tablet-large {
      @include font-size(32, 40);
    }
  }

  .score {
    @include font-size(28, 24);
    @include font-family(Gamer, 500);
    color: $sunrise;

    @include media-tablet-large {
      @include font-size(54, 30);
    }
  }
}

.currentPlayer {
  @include flex-center;
  flex-direction: column;

  .rankTitle {
    @include font-size(16, 19);
    @include font-family(PixeloidSans, 700);
    margin-bottom: px(5);
    color: $sunrise;

    @include media-tablet-large {
      @include font-size(22, 29);
      margin-bottom: px(20);
    }
  }
}

.leaderboardLink {
  @include font-size(14, 20);
  @include font-family(b, 400);
  width: fit-content;
  color: $cilantro;
  text-decoration: underline;
  text-decoration-style: dotted;

  @include media-tablet-large {
    @include font-size(22);
  }
}

.isGameOver {
  .list {
    flex-flow: column nowrap;
  }

  .item {
    @include media-tablet {
      gap: px(40);
    }
  }

  .score {
    color: $white;

    &.isCurrentPlayer {
      color: $sunrise;
    }
  }
}
