@import 'shared';

.root {
  @include flex-center-vert;
  flex-direction: column;
  gap: px(15);

  .cd,
  .note {
    opacity: 0.6;
  }

  &.isSoundOn {
    .cd,
    .note {
      opacity: 1;
    }
  }
}

.animatedCD {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;

  width: px(34);
  height: px(57);

  @include media-tablet-large {
    width: px(68);
    height: px(114);
  }

  &.isAnimated {
    opacity: 0;

    .isSoundOn & {
      opacity: 1;
    }
  }

  &.isStatic {
    filter: brightness(50%);
    opacity: 1;

    .isSoundOn & {
      opacity: 0;
    }
  }
}
