@import 'shared';

.root {
  @include flex-center-vert;
  position: relative;
  flex-direction: column;
  gap: px(15);
}

.cd {
  position: relative;
  @include box(px(34));

  @include media-desktop {
    @include box(px(68));
  }
}

.note {
  position: absolute;
  top: px(-45);
  width: px(16);

  @include media-desktop {
    top: px(-50);
    width: px(28);
  }
}
