@import 'shared';

.root {
  @include flex-center-vert;
  position: relative;
  flex-direction: column;
  gap: px(15);
}

.cd {
  @include box(px(34));
  position: relative;

  @include media-tablet-large {
    @include box(px(68));
  }
}

.note {
  position: absolute;
  top: px(-42);
  width: px(16);

  @include media-tablet-large {
    top: px(-50);
    width: px(28);
  }
}
