@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-aspect-vertical {
    justify-content: center;
  }

  @include media-tablet {
    justify-content: center;
  }

  .title {
    @include typography-h1;
    visibility: hidden;
    position: absolute;
  }
}

.container {
  @include flex-center(column);
  position: relative;
  gap: px(20);
  padding-top: px(30);
  width: 100%;

  @include media-tablet {
    gap: px(40);
  }

  @include media-tablet-large {
    gap: px(65);
  }

  .imageContainer {
    width: px(192);

    @include media-tablet-large {
      width: px(440);
    }

    .image {
      @include box(100%);
    }
  }

  .carousel {
    width: 100%;
  }
}
