@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;

  .title {
    @include typography-h1;
    visibility: hidden;
    position: absolute;
  }
}

.container {
  @include flex-center;
  position: relative;
  flex-direction: column;
  gap: px(30);
  padding-top: px(30);

  @include media-tablet-large {
    gap: px(65);
    padding-top: px(110);
  }

  .imageContainer {
    width: px(192);

    @include media-tablet-large {
      width: px(440);
    }

    .image {
      @include box(100%);
    }
  }
}
