@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;

  .title {
    @include typography-h1;
    visibility: hidden;
    position: absolute;
  }
}

.container {
  @include flex-center;
  flex-direction: column;
  gap: px(65);
  position: relative;
  padding-top: px(220);

  .imageContainer {
    width: px(440);

    .image {
      @include box(100%);
    }
  }
}
