@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: px(30);

  @include media-aspect-vertical {
    justify-content: center;
  }

  @include media-tablet {
    justify-content: center;
    padding-top: 0;
  }
}

.container {
  @include flex-center;
  position: relative;
  flex-direction: column;
  gap: px(25);

  @include media-aspect-vertical {
    padding-bottom: px(50);
  }

  @include media-tablet-large {
    gap: px(40);
  }

  .title {
    @include typography-h1;
    position: absolute;
    visibility: hidden;
  }

  .imageContainer {
    width: px(160);

    @include media-tablet-large {
      width: px(280);
    }

    .image {
      @include box(100%);
      object-fit: cover;
    }
  }
}
