@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;
  min-height: 100svh;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  .title {
    @include typography-h1;
    padding-top: px(80);
  }
}

.titleContainer {
  @include flex-center;
  position: relative;
  flex-direction: column;
  min-height: px(240);

  @include media-tablet-large {
    min-height: px(343);
  }

  .wrapper {
    @include flex-center;
    position: relative;
    flex-direction: column;
    z-index: 0;
    padding: px(80) 0 px(40);

    .heroWrapper {
      width: min(100%, px(679));
      padding: $side-spacing;

      .hero {
        @include box(100%);
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      visibility: hidden;
    }

    .description {
      @include font-size(20, 24);
      @include font-family(Montserrat, 500);
      max-width: px(700);
      color: $sour-cream;
      text-align: center;
      margin-top: px(50);
      padding: $side-spacing;
    }
  }

  .background {
    @include position-100(absolute);
    object-fit: cover;
  }
}

.content {
  background-image: url('~@/assets/images/noise.png');
  padding: px(40) px(65);
  height: auto;
  flex: 1;

  @include media-tablet {
    padding: px(100) px(65);
  }

  @include media-desktop {
    padding: px(75) px(65);
  }

  .wrapper {
    @include flex-center;

    .label {
      @include font-size(80, 96);
      @include font-family(Dirk, 800);
      margin-left: px(50);
      margin-right: px(50);
      color: $sunrise;
    }

    .iconWrapper {
      &.right {
        transform: rotate(180deg);
      }
    }
  }

  .list {
    margin-top: px(50);
  }
}
