@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;
  min-height: 100svh;
  overflow: scroll;
  display: flex;
  flex-direction: column;

  .title {
    @include typography-h1;
    padding-top: px(80);
  }
}

.titleContainer {
  @include flex-center;
  position: relative;
  flex-direction: column;
  min-height: px(240);

  @include media-tablet-large {
    min-height: px(343);
  }

  .wrapper {
    @include flex-center;
    position: relative;
    flex-direction: column;
    z-index: 0;
    padding: px(80) 0 px(40);

    .heroWrapper {
      width: min(100%, px(679));
      padding: $side-spacing;

      .hero {
        @include box(100%);
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      visibility: hidden;
    }

    .description {
      @include font-size(20, 24);
      @include font-family(Montserrat, 500);
      max-width: px(700);
      color: $sour-cream;
      text-align: center;
      margin-top: px(50);
      padding: $side-spacing;
    }
  }

  .background {
    @include position-100(absolute);
    object-fit: cover;
  }
}

.content {
  background-image: url('~@/assets/images/noise.jpg');
  padding: px(40) px(65);
  height: auto;
  flex: 1;

  @include media-tablet {
    padding: px(100) px(65);
  }

  @include media-desktop {
    padding: px(75) px(65);
  }

  .wrapper {
    @include flex-center;

    .label {
      @include font-size(80, 96);
      @include font-family(Dirk, 800);
      margin-left: px(50);
      margin-right: px(50);
      color: $sunrise;
    }

    .iconWrapper {
      &.right {
        transform: rotate(180deg);
      }
    }
  }

  .list {
    margin-top: px(50);
  }

  .dotsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: px(120);

    .dot {
      @include box(px(10));
      background-color: $sunrise;
    }
  }

  .customList {
    @include flex-center;
    margin-top: px(40);

    .list {
      display: flex;
      flex-direction: column;

      .player {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: px(10);

        margin-bottom: px(5);
      }

      .name,
      .position {
        @include font-size(14);
        overflow: hidden;
        color: $white;

        @include media-tablet-large {
          @include font-size(30, 37);
        }
      }

      .position {
        margin-right: px(15);
      }

      .score {
        @include font-size(28, 24);
        @include font-family(Gamer, 500);
        color: $sunrise;

        @include media-tablet-large {
          @include font-size(60, 37);
        }
      }
    }
  }
}
