@import 'shared';

.root {
  display: block;
}

.form {
  @include flex-center;
  flex-direction: column;
}

.button {
  margin-top: px(40);
}

.error {
  @include font-size(12, 12);
  @include font-family(Montserrat, 500);
  margin-top: px(10);
  color: $red;
}
