@import 'shared';

.root {
  display: block;
  position: relative;

  :global(#app) {
    position: relative;
    height: calc(100svh - 4rem);
    aspect-ratio: 1 / 1;
  }

  &.hasBorder {
    canvas {
      border: px(10) solid transparent;
      border-image: url('~@/assets/images/frame.png') 40;
    }
  }

  .background {
    @include position-100(fixed);
    object-fit: cover;
  }
}
