@import 'shared';

.root {
  position: relative;
  opacity: 0;
  width: 100%;

  .title {
    @include typography-h1;
    padding-top: px(80);
  }
}

.backgroundVideo {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.5);
    z-index: 0;
  }
}

.contentWrapper {
  @include flex-center-vert;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  height: 100svh;
  padding-top: px(80);
  padding-bottom: px(90);

  @include media-tablet-large {
    padding-top: px(118);
  }

  .upperWrapper {
    @include flex-center-vert;
    flex-direction: column;
    flex: 1;

    .heroWrapper {
      max-width: px(392);

      .hero {
        @include box(100%);
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      visibility: hidden;
    }

    .description {
      @include font-size(36, 37);
      @include font-family(PixGamer, 400);
      max-width: px(700);
      margin-top: px(20);
      color: $sour-cream;

      @include media-tablet-large {
        @include font-size(56, 47);
      }
    }

    .list {
      margin-top: px(20);

      @include media-tablet-large {
        margin-top: px(70);
      }
    }
  }

  .lowerWrapper {
    .ctasDescription {
      @include font-family(b, 400);
      @include font-size(32, 40);
      margin-bottom: px(25);
      color: $white;
    }

    .button {
      @include font-family(Gamer, 500);
      @include font-size(64);
      position: relative;
      padding: 0 px(30) px(10);
      border: px(10) solid transparent;
      text-align: center;
      background-color: rgba($black, 0.2);
      z-index: 0;

      &::before,
      &::after {
        @include font-family(Gamer, 500);
        @include font-size(64);
      }

      &::after {
        @include position-100(absolute);
        content: attr(data-text);
        top: px(-7);
        z-index: -1;
      }

      &.continue {
        margin-right: px(20);
        border: px(15) solid transparent;
        border-image: url('~@/assets/images/continue-border.png') 15;
        color: $sunrise;

        &::before {
          @include position-100(absolute);
          content: attr(data-text);
          top: px(-15);
          color: $ranch;
          z-index: -1;
        }

        &::after {
          color: $red;
        }
      }

      &.quit {
        border: px(15) solid transparent;
        border-image: url('~@/assets/images/quit-border.png') 15;
        color: $white;

        &::after {
          color: $ranch;
        }
      }
    }
  }
}
