@import 'shared';

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;

  .videoWrapper {
    @include z-index(intro);
    @include position-100(absolute);

    .skip {
      @include font-size(30);
      position: absolute;
      left: px(30);
      bottom: px(30);
      color: $white;
      z-index: 1;
    }
  }

  .title {
    @include typography-h1;
    padding-top: px(80);
  }

  .copywrite {
    @include typography-paragraph;
    position: relative;
    width: 100%;
    text-align: center;
    background-color: $black;
    color: $gray;
    z-index: 1;
  }
}
