@import 'shared';

.root {
  @include flex-center;
  position: relative;
  width: 100%;

  .title {
    @include typography-h1;
    padding-top: px(80);
  }
}

.background {
  @include box(100%);
  position: absolute;
  object-fit: cover;
}
